<div class="container">
  <h1>C V</h1>
  <div class="inputs">
  <input type="text" placeholder=" ENTER NAME">
  <input type="text" placeholder=" ENTER YOUR ADRESS">
  <input type="text" placeholder=" ENTER EMAIL">
  <input type="text" placeholder="PHONE NUMBER">
  <input type="text" placeholder="SKILL">
  <input type="text" placeholder="'HOBBIES">
  <input type="text" placeholder="PAST ECPERIENCE">
  </div>
  <div class="output">
    <label for="">NAME:</label>
    <label for="">ADRESS</label>
    <label for="">EMAIL</label>
    <label for="">PHONE NUMBER</label>
    <label for="">SKILL</label>
    <label for="">HOBBIES</label>
    <label for="">PAST-EXPERRIENCE</label>
  </div>

</div>
